:root {
  --surface-color: #1d1d1f;
  --curve: 8;
}

.project__container {
  background-color: #0d1117;
  padding: 8rem 10vw 1rem 10vw;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  /* margin: 4rem 5vw; */
  padding: 80px 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  height: 300px;
  /* border: 0.5px solid #3d3d3d; */
}
.project__container .card {
  /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #ffffff;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

/* .card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} */

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #d6d6d6;
  font-weight: 400;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 14px;
  line-height: 26px;
}

.project__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project__header h2 {
  font-size: 16px;
  font-weight: 400;
  color: #7ee787;
  margin-bottom: 10px;
}
.project__header h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Mona";
  color: #ffffff;
  letter-spacing: -2.16px;
}

.project__header p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #7d8390;
}
.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.card__status {
  font-size: 0.8em;
  background-color: #2b2b2e;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}

.project__links {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.project__icon {
  width: 24px;
  height: 24px;
  color: #3b3b3b;
  margin-top: 10px;
}
.project__icon:hover {
  color: #080808;
  transform: scale(1.4);
}

@media screen and (max-width: 1370px) {
  .project__container {
    padding: 10rem 7vw;
  }
}

@media screen and (max-width: 470px) {
  .project__container {
    padding: 60px 20px;
  }
  .project__header h1 {
    font-size: 2.5rem;
  }

  .project__header p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  .cards {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 380px;
    max-height: 340px;
  }
}
