.about__container {
  display: flex;
  padding: 80px 200px;
}

.porofile__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.porofile__img img {
  width: 160px;
  height: 160px;
}

@media screen and (max-width: 1670px) {
  .about__container {
    padding: 40px 100px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 1320px) {
  .about__container {
    padding: 40px 80px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 900px) {
  .about__container {
    flex-direction: column;
    padding: 40px 40px;
    gap: 60px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

.about__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__desc h2 {
  font-size: 16px;
  font-weight: 400;
  color: #ff615a;
}
.about__desc h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #482890;
}

.about__desc p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

@media screen and (max-width: 470px) {
  .about__container {
    display: flex;
    padding: 40px 20px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .about__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__desc h2 {
    font-size: 16px;
    font-weight: 400;
    color: #ff615a;
  }

  .about__desc p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
  }
}
