.about__container {
  display: flex;
  flex-direction: row;
  padding: 20px 200px;
  /* gap: 10px; */
  background: linear-gradient(to bottom, #0c0f14, #0c0f14);
  position: relative;
  align-items: center;
}

.porofile__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.porofile__img img {
  width: 160px;
  height: 160px;
}
.about__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__desc h2 {
  font-size: 16px;
  font-weight: 400;
  color: #7ee787;
}
.about__desc h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

.about__desc p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #7d8390;
}

@media screen and (max-width: 1670px) {
  .about__container {
    padding: 40px 100px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 1320px) {
  .about__container {
    padding: 40px 80px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 900px) {
  .about__container {
    flex-direction: column;
    padding: 40px 40px;
    gap: 60px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 470px) {
  .about__container {
    display: flex;
    padding: 0 20px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .about__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__desc h2 {
    font-size: 16px;
    font-weight: 400;
  }

  .about__desc p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}
