.about__container {
  display: flex;
  flex-direction: row;
  padding: 100px 480px;
  /* gap: 10px; */
  background: linear-gradient(to bottom, #0d1117, #0d1117);
  position: relative;
  align-items: center;
  /* height: 100vh; */
}

.porofile__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.porofile__img img {
  width: 200px;
  height: 200px;
}
.about__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about__desc h2 {
  font-size: 16px;
  font-weight: 400;
  color: #7ee787;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about__desc h1 {
  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
  font-family: "Mona";
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -2.16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.about__desc p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #919191;
}

@media screen and (max-width: 1670px) {
  .about__container {
    padding: 100px 280px;
  }
  .about__container h1 {
    font-size: 3rem;
  }
  .porofile__img img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1320px) {
  .about__container {
    padding: 100px 200px;
  }
  .about__container h1 {
    font-size: 3rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 1200px) {
  .about__container {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 900px) {
  .about__container {
    flex-direction: column;
    padding: 40px 40px;
    gap: 60px;
  }
  .about__container h1 {
    font-size: 2rem;
  }
  .porofile__img img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 470px) {
  .about__container {
    display: flex;
    height: auto;
    padding: 60px 30px;
    background: linear-gradient(to bottom, #171a24, #10121b);
  }
  .about__container h1 {
    font-size: 2.5rem;
  }
  .about__desc {
    display: flex;
    flex-direction: column;
  }

  .about__desc h2 {
    font-size: 16px;
    font-weight: 400;
  }

  .about__desc p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .porofile__img img {
    width: 300px;
    height: 300px;
  }
}
