.skill__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, #0c0f14, #0d1117);
  color: #ffffff;
  padding: 80px 200px;
  gap: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  background-color: #ffffff;
}
.skill__container h2 {
  font-size: 16px;
  font-weight: 400;
  color: #7ee787;
}
.skill__container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.skill__desc p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  max-width: 1000px;
  line-height: 36px;
  color: #7d8390;
}
.card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #000000;
  padding: 80px 200px;
  gap: 70px;
}
.frontend__icon img {
  width: 100px;
  height: 100px;
}
/* .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.card__wrapper p {
  line-height: 26px;
}

@media screen and (max-width: 1370px) {
  .skill__container {
    padding: 40px 100px;
  }
  .card__container {
    padding: 40px 100px;
  }
  .skill__container h1 {
    font-size: 2rem;
  }
  .frontend__icon img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 470px) {
  .skill__container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
  }
  .skill__container h1 {
    font-size: 2rem;
  }
  .card__container {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
  }
  .card__container h2 {
    font-size: 1rem;
  }
  .frontend__icon img {
    width: 100px;
    height: 100px;
  }
  .skill__desc p {
    font-size: 18px;
    line-height: 30px;
  }
  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: -20px;
  }
  .card__wrapper p {
    line-height: 22px;
    color: #575757;
  }
}
