.accordion__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c0f14;
  padding: 100px;
}
.accordion {
  background-color: #ccc;
  width: 900px;
}

.accordion-item {
  border-bottom: 0.5px solid #2e2e2e;
}

.accordion-header {
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: #0c0f14;
  color: #ccc;
  padding: 20px 0;
  gap: 20px;
  font-size: 22px;
  font-weight: 500;
}

.accordion-content {
  padding: 10px 40px;
  background-color: #0c0f14;
  color: #ccc;
  line-height: 28px;
}
.accordion-title {
  user-select: none;
}

@media screen and (max-width: 470px) {
  .accordion__container {
    padding: 40px 20px;
  }
  .accordion {
    width: 100%;
  }
  .accordion-header {
    font-size: 18px;
  }
  .accordion-content {
    font-size: 16px;
  }
}
