/* .tech__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #6954fa;
  height: 70vh;
  color: #ffffff;
  padding: 80px 200px;
  gap: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  background-color: #ffffff;
} */
.tech__container h2 {
  font-size: 16px;
  font-weight: 400;
  color: #7ee787;
}
.tech__container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.tech__desc p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #d8d8d8;
}
.swiper-slide {
  text-align: center;
  font-size: 72px;
  background: #ffffff00;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide h3 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.slider__container {
  margin: 0 200px;
}
.tech__container {
  background: linear-gradient(to bottom, #020220, #0c1016);
  padding: 100px 0;
}
.icon {
  color: #ffffff;
}
.tech__slider {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-left: -60px;
}

@media screen and (max-width: 1370px) {
  .tech__container {
    padding: 80px 0;
  }
  .tech__slider {
    padding-top: 80px;
    padding-bottom: 20px;
    margin-left: -20px;
  }
  .slider__container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 470px) {
  .slider__container {
    margin: 0 20px;
  }
  .tech__container {
    padding: 70px 0;
  }
  .tech__container h1 {
    font-size: 2.5rem;
  }
  .tech__desc p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  .tech__slider {
    padding-top: 80px;
    padding-bottom: 20px;
    margin-left: -10px;
  }
}
