.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #0d1117; */
  color: #ffffff;
  height: 70vh;
  padding: 0 500px;
  gap: 20px;
  position: relative;
}

.hero__name h1 {
  font-size: 72px;
  font-weight: 800;
  color: #ffffff;
  font-family: "Mona";
  line-height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -2.16px;
}

.hero__job span {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #7ee787;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter";
  text-align: center;
}

.hero__job p {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Mona";
  text-align: center;
}

.hero__content p {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #d8d8d8;
}

.hero__des h4 {
  font-size: 20px;
  font-weight: 400;
  color: #7d8590;
  line-height: 28px;
  font-family: "Mona";
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 0;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #763ec6;
  width: 13rem;
  height: 3.5rem;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.hireme__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3.5rem;
  border-radius: 7px;
  background-color: #ececec;
  color: #252525;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  gap: 10px;
}

@media screen and (max-width: 1670px) {
  .hero__container {
    padding: 0 200px;
  }
  .hero__name h1 {
    font-size: 5rem;
  }
  .hero__job {
    font-size: 3rem;
  }
  .hero__content p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1320px) {
  .hero__container {
    padding: 0 80px;
  }
  .hero__name h1 {
    font-size: 5rem;
  }
  .hero__job {
    font-size: 2rem;
  }
  .hero__content p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__container {
    padding: 0 40px;
  }
  .hero__name h1 {
    font-size: 4rem;
    line-height: 72px;
  }
  .hero__job {
    font-size: 1.5rem;
  }
  .hero__content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 950px) {
  .hero__container {
    padding: 0 40px;
  }
  .hero__name h1 {
    font-size: 4rem;
    line-height: 72px;
  }
  .hero__job {
    font-size: 1.5rem;
  }
  .hero__content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .hero__container {
    padding: 0 40px;
  }
  .hero__name h1 {
    font-size: 3.8rem;
    line-height: 80px;
  }
  .hero__job {
    font-size: 1.5rem;
  }
  .hero__content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 570px) {
  .hero__container {
    padding: 0 20px;
  }
  .hero__name h1 {
    font-size: 3.5rem;
    line-height: 60px;
    margin-top: 0;
  }
  .hero__des h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .hero__job p {
    font-size: 1.5rem;
  }
  .hero__job span {
    font-size: 1.5rem;
  }
  .hero__content p {
    font-size: 1rem;
  }
  .btn {
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .hero__container {
    padding: 0 20px;
    height: 100vh;
  }
  .hero__name h1 {
    font-size: 3rem;
    line-height: 52px;
  }
  .hero__content p {
    font-size: 1rem;
  }
  .btn {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1px;
  }
  .hero__des h4 {
    width: auto;
    font-size: 16px;
    margin-top: 2px;
  }
  .hero__btn {
    margin-top: 1rem;
    width: 100%;
  }
  .hireme__btn {
    margin-top: 15px;
    width: 100%;
  }
  .hero__job p {
    font-size: 1.5rem;
  }
  .hero__job span {
    font-size: 1.5rem;
  }
}
