@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Mona";
}
body {
  padding: 0%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter" "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  background-color: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
}

@font-face {
  font-family: "Mona";
  src: url("../public/Mona-Sans.ttf");
}
